* {
    box-sizing: border-box;
  }

body{
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 3px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.boardDiv{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.figDiv, .logDiv{
    background-color: white;
}

.buttonDiv{
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

table {
    cursor: default;
    border-collapse: collapse;
    border: 0.1vmin solid black;
    /* Disable Text marking */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    table-layout: fixed;
}

.darkCell{
    background-color: rgb(108, 177, 108);
}

th{
    background-color: rgb(194, 117, 65);
    height: 2vmin;
    width: 2vmin;
}

td{
    font-size: 0;
    background-color: rgb(230, 250, 217);
    text-align: center;
    vertical-align: middle;
    width: 15vmin;
    height: 15vmin;
    border-spacing: 0px;
    padding: 5px;
    z-index: -1;
}

td.corner {
    pointer-events: none !important;
    background-size: 11vmin 11vmin;
    background-position: 2vmin 2vmin;
    background-repeat: no-repeat;
    background-image: url('../images/puddle_semitransparent_50.png');
}

.figures, .workerOnField{
    width: 5vmin;
}

.towerOnField {
    width: 13vmin;
}

.toolbox{
    padding-right: 10px;
    text-align: right;
    /* Disable Text marking */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

@media only screen and (max-width: 1024px) {
    [class*="col-"] {
      width: 100%;
    }
    table{
        margin: auto;
    }
    .toolbox{
        text-align: center;
    }
}

.hidden {
    display: none !important;
}

td div[data-position="top"] {
    height: 6vmin;
    width: 100%;
}

td div[data-position="middle"] {
    height: 1vmin;
    width: 100%;
}

td div[data-position="bottom"] {
    height: 6vmin;
    width: 100%;
}
